services:
  ixian-dlt-1:
    hostname: ixian-dlt-1
    build:
      context: ./ixian-dlt/
      args:
        URL: "https://github.com/ixian-platform"
        CORE_BRANCH: "${CORE_BRANCH}"
        DLT_BRANCH: "${DLT_BRANCH}"
        #SHA: ""
    environment:
      DLT_PORT: "10234"
      NETWORK_TYPE: "REGTEST"
      GENESIS_FUNDS: "100000000000"
      #BOOTSTRAP_URL: ""
      #GENESIS_FILE: ""
      #WALLET_FILE: ""
      #WALLET_PASSWORD: ""
    ports:
      - "8081:8081"
      - "10234:10234"
    expose:
      - "8081"
      - "10234"
    networks:
      ixian_macvlan:
        ipv4_address: 10.24.231.1

      
  ixian-dlt-2:
    hostname: ixian-dlt-2
    build:
      context: ./ixian-dlt/
      args:
        URL: "https://github.com/ixian-platform"
        CORE_BRANCH: "${CORE_BRANCH}"
        DLT_BRANCH: "${DLT_BRANCH}"
        #SHA: ""
    environment:
      DLT_PORT: "10235"
      NETWORK_TYPE: "REGTEST"
      SEED_NODE: "ixian-dlt-1:10234"
      #BOOTSTRAP_URL: ""
      #GENESIS_FILE: ""
      #WALLET_FILE: ""
      #WALLET_PASSWORD: ""
    ports:
      - "8082:8081"
      - "10235:10235"
    expose:
      - "8081"
      - "10235"
    #deploy:
    #  mode: replicated
    #  replicas: 6
    networks:
      ixian_macvlan:
        ipv4_address: 10.24.231.2

      
  ixian-s2:
    build:
      context: ./ixian-s2/
      args:
        URL: "https://github.com/ixian-platform"
        CORE_BRANCH: "${CORE_BRANCH}"
        S2_BRANCH: "${S2_BRANCH}"
        #SHA: ""
    environment:
      S2_PORT: "10236"
      NETWORK_TYPE: "REGTEST"
      SEED_NODE: "ixian-dlt-1:10234"
      #BOOTSTRAP_URL: ""
      #GENESIS_FILE: ""
      #WALLET_FILE: ""
      #WALLET_PASSWORD: ""
    ports:
      - "8600-8609:8081"
      - "10600-10609:10236"
    expose:
      - "8081"
      - "10236"
    deploy:
      mode: replicated
      replicas: 10
    networks:
      - ixian_macvlan

      
  ixian-lite-wallet:
    #entrypoint: [ "sleep", "infinity" ]
    build:
      context: ./ixian-litewallet/
      args:
        URL: "https://github.com/ixian-platform"
        CORE_BRANCH: "${CORE_BRANCH}"
        LITEWALLET_BRANCH: "${LITEWALLET_BRANCH}"
        #SHA: ""
    environment:
      NETWORK_TYPE: "REGTEST"
      SEED_NODE: "ixian-dlt-1:10234"
      #BOOTSTRAP_URL: ""
      #GENESIS_FILE: ""
      #WALLET_FILE: ""
      #WALLET_PASSWORD: ""

  ixian-explorer:
    build:
      context: ./ixian-explorer/
      args:
        URL: "https://github.com/ixian-platform"
        BRANCH: "main"
        #SHA: ""
        DLT_URL: "http://ixian-dlt-1:8081"
    ports:
      - "443:443"
    expose:
      - "443"

  ixian-pool:
    build:
      context: ./ixian-pool/
      args:
        URL: "https://github.com/ixian-platform"
        BRANCH: "master"
        #SHA: ""
        POOL_REWARD_ADDRESS: "153xXfVi1sznPcRqJur8tutgrZecNVYGSzetp47bQvRfNuDix"
        POOL_FEE: "0.02"
        POOL_URL: "https://ixian-pool/"
        POOL_NAME: "My Ixian Pool"
        DLT_URL: "http://ixian-dlt-1:8081"
    ports:
      - "444:443"
    expose:
      - "444"

networks:
  ixian_macvlan:
    driver: macvlan
    driver_opts:
      parent: eth0
    ipam:
      config:
        - subnet: 10.24.0.0/16
          gateway: 10.24.0.2
          ip_range: 10.24.231.0/24
